body {
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  width: 70%;
  height: fit-content;
  background-color: white;
  flex: 10;
  box-shadow: 10px 50px 20px hsla(241, 72%, 46%, 0.1);
}

#worth {
  font-size: 4rem;
  font-weight: bold;
}

.card {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.left {
  border-radius: 5%;
  background: rgb(120, 87, 255);
  background: linear-gradient(
    180deg,
    rgba(120, 87, 255, 1) 0%,
    rgba(46, 43, 233, 1) 40%
  );
  color: white;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#result {
  text-align: center;
  color: lightgray;
  padding-bottom: 30px;
  font-size: 1.5rem;
}

#circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(78, 33, 202);
  background: linear-gradient(
    0deg,
    rgba(78, 33, 202, 1) 0%,
    rgba(36, 33, 202, 1) 60%
  );
  width: 200px;
  height: 200px;

  padding-top: 0;
}

#analysis {
  padding: 10%;
  text-align: center;
}

#summary {
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
}

#parameters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  flex-basis: 100px;
  width: 100%;
}

.colorbox {
  display: flex;
  padding: 15px;
  width: 100%;
  border-radius: 20px;
}

.colorbox > .attribute {
  font-weight: 900;
  flex: 4;
}

#red {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.1);
}

#yellow {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.1);
}

#green {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.1);
}

#blue {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.1);
}

.attribution {
  font-size: 18px;
  text-align: center;
  color: black;
  font-weight: 900;
  flex: 2;
}
.attribution > span {
  font-weight: 400;
  font-size: 1rem;
}

#button {
  color: white;
  text-align: center;
  background-color: hsl(224, 30%, 27%);
  padding: 10px;
  width: 100%;
  border-radius: 100px;
}

#button > a:link {
  text-decoration: none;
  color: white;
}

#button > a:visited {
  text-decoration: none;
  color: white;
}

#button > a:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 1250px) {
  
  body{
      margin-top: auto;
      height: auto;
  }
      #container {
    flex-direction: column;
    width: 80%;
    padding: 0;
  }

  .card{
      width: 80%;
      padding: 0;
  }

  
}
